@import "../asserts/include_media.scss";
.landing{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height:100%;
      
}
/* Nav CSS */


.navbar{
        .nav{
            z-index: 10;
            position: initial;
            height: 25px;
            margin:0 5px; 
            padding: 15px 20px;
            .logo{
                height: 25px;
            }
            .gap{
                margin:0 5px;
            }
    
            .name{
                position: absolute;
                margin-top: 4px;
                font-weight: bolder;
            }
            .ham{
                margin-right: 0px;
                position: relative;
                float: right;
                
            }
    
            .ham span{
                display: block;
                height: 4px;
                width: 25px;
                background-color: black;
                margin: 4px 0px;
                border-radius: 10px;
                transition: 0.3s;
            }
    
    
    
    
            .ham.active .ham-line-one{
                margin-bottom:0px;
                transform: rotate(-45deg);
            }
            .ham.active{
                margin-top:10px;
            }
            .ham.active .ham-line-two{
                transition: 1s;
                display: none;
            }
            .ham.active .ham-line-three{
                margin-top:-4px;
                transform: rotate(45deg);
            }
        }

        
        .menu.active ul{
            margin: 0px;
            padding: 0px;
        }
        
        .menu-items{
            list-style: none;
            text-align: center;

            li{
                padding:10px 0px;
            }
        }



        .menu.active{
            position: absolute;
            height: 100%;
            z-index: 10;
            width: 100%;
            
            transition: 0.3s;
            background-color: white;
            // background-image: linear-gradient(-90deg,#D9DDE0, #ECF0EC);
            -webkit-animation: fadein 0.2s; /* Safari, Chrome and Opera > 12.1 */
            -moz-animation: fadein 0.2s; /* Firefox < 16 */
            -ms-animation: fadein 0.2s; /* Internet Explorer */
            -o-animation: fadein 0.2s; /* Opera < 12.1 */
                animation: fadein 0.2s;
        }


        @keyframes fadein {
            from { margin-top : -100px; opacity: 0;}
            to   { margin-top : 0px; opacity: 1;}
        }

        /* Firefox < 16 */
        @-moz-keyframes fadein {
            from { margin-top : -100px; opacity: 0;}
            to   { margin-top : 0px; opacity: 1;}
        }

        /* Safari, Chrome and Opera > 12.1 */
        @-webkit-keyframes fadein {
            from { margin-top : -100px; opacity: 0;}
            to   { margin-top : 0px; opacity: 1;}
        }

        /* Internet Explorer */
        @-ms-keyframes fadein {
            from { margin-top : -100px; opacity: 0;}
            to   { margin-top : 0px; opacity: 1;}
        }

        /* Opera < 12.1 */
        @-o-keyframes fadein {
            from { margin-top : -100px; opacity: 0;}
            to   { margin-top : 0px; opacity: 1;}
        }

}
/* head CSS */

.head{
    position: absolute; 
    width: calc(100%);
    height: -webkit-calc(800% - 55px);
    height: -moz-calc(80% - 550px);
    height: calc(80% - 55px);
    overflow: hidden;
    background-color: white;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    .left{
        z-index: 4;

        
        @include media(">phone", "<tablet") {
            transition: 0.2s;
            font-size: 8vw;
            grid-column: 1/4;
            grid-row:1;
           
          }
          @include media(">tablet", "<desktop") {
            transition: 0.2s;
            font-size: 6vw;
            grid-column: 1/3;
            grid-row:1;
           
          }
          @include media(">=desktop",) {
            transition: 0.2s;
            font-size: 4vw;
            grid-column: 1/4;
            grid-row:1;
          }

        
        .main{
            // position: absolute;
        //    font-size: 7vw;
            
            width: 70%;
            margin:10% 10% 0% 10%;
            font-weight: bolder;
            /* text-transform: uppercase; */
            color: black;
            // text-shadow: 2px 2px #4b4848;
            // font-family: 'Chunk', sans-serif;
            
    
            .check{
                font-family: 'Chunk', sans-serif;
                letter-spacing: 8px; 
                // font-size: 10vw;
                font-weight: 900;
                color: #2EE59D;
            }
        }
    }
    .right{
        grid-column: 1/5;
        grid-row:1;
        transition: 0.2s;
        img{
        

          @include media(">phone", "<tablet") {
                
            transition:opacity 0.2s;
            opacity: 0.5;
            
        }
        @include media(">tablet", "<desktop") {
          
         
        }
        @include media(">=desktop",) {
          
        }
        
            
            position: absolute;
            z-index: 0;
            bottom: -40px;
            right:-50px;    
            // height:300px;
            height: 90vh;
            
            
        }
    }

   
.calltoaction{
.wrap {
    // height: 100%;
    display: flex;
    margin:3vh 10% 0% 10%;
    // // align-items: center;
    // justify-content: center;
  }
  
  .button {
    // width: ;
    // height: 45px;
    padding:10px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    // text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 800;
    // color: #000;
    // background-color: #fff;
    border: none;
    border-radius: 45px;
    // box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;


    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;

    }
  
  .button:hover {

    color: #000;
    background-color: #fff;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

    // background-color: #2EE59D;
    // box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    // color: #fff;
    transform: translateY(-7px);
  }

  .sec{
    color: #000;
    background-color: #fff;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  }

  .sec:hover{
    // background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    // color: #fff;
    transform: translateY(-0px);
  }
}
  
    .pet{
        /* scale: 0.2; */
        object-fit: cover;
        width: 100%;
        height: 100%;
        max-height: fit-content;
        
    }
}

// Services CSS

.about{
    background-color: rgba(170, 170, 170, 0.295);
    margin-top: -webkit-calc(80vh - 55px);
    margin-top: -moz-calc(80vh - 550px);
    margin-top: calc(80vh - 55px);
    width: 100%;
    height: 100%;
    

    
}

.section-title{
    width: 100%;
    text-align: center;
    padding: 40px 0px 10px 0px;
    font-size: 1.5em;
    margin-left: auto;
    margin-right: auto;
    

}
.horizaontal-line{
    height: 2px;
    background-color: rgb(177, 177, 177);
    width: 60%;
    display: block;
    position: relative;
    margin-left: auto;
    opacity: 0.2;
    margin-right: auto;
    margin-bottom: 20px;
    
}

.content{
    margin: 40px auto;
    font-size: 1em;
    text-align: left;
    width:90%;
    transition: 0.3s;
    -webkit-line-clamp: 3;
    line-height: 30px;

    
}
.small_content{
    transition: 0.3s;
    
}
.full_content{
    transition: 0.3s;
}

.about_read_state{
    margin-left: 10px;
    // text-decoration: underline;
    color: cornflowerblue;
    transition: 0.3s;
    
}

.about_read_state:hover{
    transition: 0.3s;
    color: rgb(3, 28, 73);
}

.services{
    width: 100%;
    .section-description{
        max-width: 800px;
        // min-width: 450px;
        text-align: center;
        margin-left:auto;
        margin-right:auto;
    }
}
.cards{
    // background-image: url("https://image.shutterstock.com/image-vector/dog-paw-cat-heart-love-260nw-754983577.jpg");
    
    background-size: 40%;
    display: grid;
    grid-gap: 20px;

    @include media(">phone", "<tablet") {
    padding: 30px 10vw;
       grid-template-columns: 1fr;
       grid-template-row:auto;
      }
      @include media(">tablet", "<desktop") {
        padding: 30px 4vw;
        grid-template-columns: 1fr 1fr;
        grid-template-row:auto;
       
      }
      @include media(">=desktop",) {
        padding: 30px 10vw;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-row:auto;
      }

  
}