
@import "../asserts/include_media.scss";

.wrapper{
  
  
  margin:40px 10vw;
  // height:200px;
  .review-card{
    display: grid;
    // background-color: rgb(242, 247, 242);
  grid-template-columns:30px 10px auto 10px 30px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 30px;
    border-radius: 10px;
  grid-template-rows:1fr; 
    
  }
  .review-block{
    display: grid;
    grid-gap: 40px;
    @include media(">tablet") {
    grid-template-areas: "left review";
    }
    @include media("<=tablet") {
      grid-template-areas: "left"
                            "review";  
  
  }
    a{
    text-decoration: none;
    color: black;
    }
    .left{
      margin:auto auto; 
      grid-area: left;
      justify-content: center;
      align-self: center; 
      width: 150px;
      .reviewer-logo{
        width:60px;
        height: 60px;
        border-radius: 30px;  
      }
    }
    .review{
      
      grid-area: review;
      justify-content: center;
      align-self: center; 
      font-size: 14px;
      text-align: left; 
    }
    // background-color: rgb(242, 247, 242);
    text-align: center;
    padding: 20px;
    grid-column: 2/4;
    grid-row:1;
  }
  .review-control:hover{
    cursor: pointer;
    transition: filter 0.3s;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.432));
    
  }
  .review-control{
    cursor: pointer;
    vertical-align: middle;
    // z-index: 10;
    
    
    
    }
    #back{
      
      grid-column: 1/2;
    grid-row:1;
    justify-items: center;
    align-self: center;
    -webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
      -moz-transform: rotate(180deg);        /* FF */
      -o-transform: rotate(180deg);          /* Opera */
      -ms-transform: rotate(180deg);         /* IE9 */
      transform: rotate(180deg);   
      
    }
    #next{
      
      grid-column: 4/5;
      grid-row:1;
      display: block;
      float: right;
      justify-items: center;
      align-self: center;
      
    }
}





.fade-in {
  animation: fadeIn ease 0.3s;
  -webkit-animation: fadeIn ease 0.3s;
  -moz-animation: fadeIn ease 0.3s;
  -o-animation: fadeIn ease 0.3s;
  -ms-animation: fadeIn ease 0.3s;
}


@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}